:root{
    --fundo: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --botao: linear-gradient(to top, #b224ef 0%, #7579ff 100%);;
}

*{
    margin: 0;
    padding: 0;
}

body {
	background-color: #e5e8e8;
	color: white;
	margin: 0;
	font-family: 'Quicksand';
    background-image: var(--fundo);
}

/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200;400&display=swap');

/*NAVBAR*/
.busca{
    background-color: #5430DA;
    width: 100%;
    top: 0;
    display: flex;
    max-width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    flex-direction: row;
}

.busca a{
    display: flex;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.busca a:hover{
    text-decoration: none;
    color: black;
}

/*APRESENTAÇÃO INICIAL*/
header h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: 65px;
    margin-top: 80px!important;
}

header h3{
    padding-top: 15px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.contPrincipal{
    display: flex;
    margin-bottom: 80px;
    margin-top: 0px;    
    margin-left: 10%;
}

#contato{
    display: flex;
    text-align: center;
}

#contato a {
    min-height: 20px;
    min-width: 100px;
    margin-top: 20px;
    padding: 15px 25px;
    align-items: center;
    text-decoration: none;
    text-align: center;
	color: white;
    font-size: 24px;
    margin-right: 10px;
    border: none;
    border-radius: 40px;
    line-height: 10px;
    background-image: var(--botao);
    transition: all 0.3s linear;
}

#contato a:hover{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color: black;
}

/*PROJETOS E ARTIGOS*/
section h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: 65px;
    margin-top: 40px!important;
}

.fundoBranco{
    background-color: azure;
    width: 325px;
    height: 175px;
    border-radius: 15%;
    padding: 50px;
    text-align: center;
}

.fundoBranco a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
}

.fundoBranco a:hover{
    color: #6618CE;
}

.fundoBranco{
    font-family: 'Anton', sans-serif;
    font-family: 'Inconsolata', monospace;
}

/*FOOTER*/
footer{
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 110px;
    background-color: #5430DA;
}